/* home.css */

#video-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 400px) {
    #video-section {
      height: 500px; /* Adjust to 100% height on mobile devices */
    }
    video{
        height: 800px;
    }
  }
 
  @media (max-width: 1000px) {
    #video-section {
      height: 500px; /* Adjust to 100% height on mobile devices */
    }
    video{
        height: 1100px;
    }
  }
  